@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
  --currentColor: #ffffff;
}
html {
  scroll-behavior: smooth !important;
}
body {
  background-color: var(--background);
  color: var(--foreground);
  margin: 0;
  
  /* Forzamos el uso de la variable de la fuente Sora */
  font-family: var(--font-sora), system-ui, sans-serif;
  
  /* Suavizado de tipografía premium (estilo macOS) */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Tratamiento global para inputs y botones para que hereden la fuente automáticamente */
input, 
button, 
select, 
textarea {
  font-family: inherit;}